img{
width: 200px;
}
body{
text-align: center;
font-family: "Arial";
}
#Cheese{
    color: #FFFF00;
}
#Sauce{
    color:#DF0101;
}
#Crust{
    color: #B45F04
}
#YUM{
    color: #F48507;
    font-size: 40px;
}